<!doctype html>
<head>
<title>Hello from Flask</title>
</head>
<body>
  <h1>Uncharted: The Lost Legacy</h1>
  <p>Uncharted: The Lost Legacy is an action-adventure game developed by Naughty Dog and published by Sony Interactive Entertainment. Released in August 2017 for the PlayStation 4, it is a standalone expansion to the Uncharted series, and is the first game not to feature protagonist Nathan Drake. The game follows fortune hunter Chloe Frazer, who seeks the Tusk of Ganesh in the mountains of India in the midst of a civil war, with the help of ex-mercenary Nadine Ross and Nathan's brother Sam Drake. The game is played from a third-person perspective; players use firearms, and can use melee combat and stealth to defend against hostile enemies. Players solve puzzles, incorporating several platformer elements to advance the narrative, and navigate the game world on foot or by vehicle.</p>
<p>Development of The Lost Legacy began soon after the release of Uncharted 4: A Thief's End in May 2016. Chloe, a supporting character in previous games, is the focus of the game, with the story, design and gameplay elements reflecting her character. Claudia Black, Laura Bailey and Troy Baker reprised their roles as Chloe, Nadine and Sam respectively, through voice and motion capture, and assisted writer Josh Scherr and creative director Shaun Escayg with the development of the characters and story. The game builds upon gameplay elements established in previous Uncharted titles with its more open-ended gameplay.</p>
<p>The Lost Legacy received generally positive reviews, with praise for its design, characterization and chemistry between the characters, and writing. Criticism was mainly focused at the game's familiarity to Uncharted 4 and lack of innovation.</p>
</body>
</html>
